@model Ecommerce.Web.Model.MyUserViewModel

@{
    ViewData["Title"] = "Register";
}
<style>
    .left {
        margin-left: 25px;
    }

    img {
        width: 350px;
        height: 250px;
        margin-right: 15px;
    }

    .card {
        background-color: #0e344f;
    }
</style>
<div class="container text-white">
    <div class="card mx-auto mt-lg-5" style="width:700px;border-radius:15px;">
        <h2 class="text-center">Sign Up</h2>
        <hr />
        <div class="row mb-4" style="display:flex;justify-content:center;">
            <div class="col">
                <form method="post">
                    <div class="form gap-3 d-grid">
                        <div class="left">
                            <label class="form-label"> Email </label>
                            <input class="form-control" asp-for="Email" />
                        </div>
                        <div class="left">
                            <label class="form-label"> Password</label>
                            <input class="form-control" asp-for="Pwd" type="password" />
                        </div>
                        <div class="left">
                            <label class="form-label"> User Id</label>
                            <input class="form-control" asp-for="Id" />
                        </div>
                        <div class="left mt-3">
                            <button type="submit" class="btn-primary form-control">SignUp</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col me-3">
                <img class="img-rounded" src="https://img.freepik.com/premium-vector/register-now-isolated-icon-banner-trendy-style-yellow-speech-bubble-arrow-abstract-elements-registration-button-ui-design-element-web-site-subscribe-membership-vector-illustration_87771-11526.jpg?w=2000" />
            </div>
        </div>
    </div>
</div>
